body {
	background-color:  #404040;
	font-family: 'Orbitron', sans-serif;
}

.calc {
	width: 370px;
	height: 400px;
	background-color: #C0C0C0;
	margin: 10% auto 0 auto;
	border-radius: 15px;
}

.header {
	padding-top: 5px;
	padding-left: 10px;
}

.display{
	width: 350px;
	height: 60px;
	border: 2px solid black;
	border-radius: 5px;
	margin-left: 10px;
	background-color: #BCCD95;
	padding-right: 5px;
	padding-bottom: 5px;
}

#input {
	height: 70%;
	font-size: 1.8em;
}

#history {
	height: 30%;
	color: #8B8B7B;
}

.wrapper {
	width: 350px;
	/*border: 1px solid black;*/
	margin: 10px 10px 0 12px;
	height: 260px;
}

.btn-standard {
	width: 80px;
	height: 40px;
}

.btn-long {
	height: 40px;
	width: 162px;
}

.btn-high {
	width: 80px;
	height: 90px;
}

.row-btn {
	padding-left: 5px;
	margin-bottom: 10px;
}

.short {
	width: 255px;
	float:left;
}

button {
	font-weight: bold;
	border-radius: 5px;
}

.btn-red {
	background-color: #ff7b7b;
}

.btn-yellow {
	background-color: #d1d495;
}