body {
	background-color:  #404040;
	font-family: 'Orbitron', sans-serif;
}

.calc {
	width: 500px;
	height: 300px;
	background-color: #C0C0C0;
	margin: 10% auto 0 auto;
	border-radius: 15px;
}

.header {
	padding-top: 5px;
	padding-left: 10px;
}

.display{
	width: 70%;
	height: 60px;
	border: 2px solid black;
	border-radius: 5px;
	margin-left: 10px;
	background-color: #BCCD95;
	padding-right: 5px;
	padding-bottom: 5px;
}

#input {
	height: 70%;
	font-size: 1.8em;
}

#history {
	height: 30%;
	color: #8B8B7B;
}